.contextmenu {
    background: linear-gradient(135deg, #2f026df6, #15162cee) !important;
}

.contextmenu__item:hover {
    background-color: #29057780 !important; 
}

@font-face {
  font-family: 'IBMSansJP';
  src: url('IBMPlexSansJP-Medium.ttf') format('tff');
}