/* @import "../node_modules/bootstrap/scss/bootstrap.scss"; */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* .bgm-app {
  display:flex; 
  flex-direction: row; 
} */


.top-side {
  /* position: fixed; */
  top: 0px;
}

.main {
  display: flex;
}

.left-side {
  width: 50%;
  object-fit: fill;
  text-wrap: nowrap;
  order: 0;
}

.right-side {
  /* position: sticky; */
  /* height: 500px; */
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* overflow: hidden; */
  font-size: small;
  /* float: right; */
  list-style-type: none;
  /* margin: auto; */
  /* position: absolute; */
  /* padding-left: 300px; */
  /* overflow-y: scroll; */
  overflow: hidden;
  /* margin-top: 50px; */
  /* overflow: auto; */
  /* overflow:scroll; */
  /* overflow: scroll;
  overflow: hidden;
  scroll-behavior: smooth; */
  
}

.button-image {
  /* font-size: small; */
  height: 20px;
  width: 20px;
  /* background-image: none; */
  /* background-size: cover; */
  /* margin-left: 15px; */
}
.current-track {
  display:flex;
}

.current-track-name {
  font-size: medium;
  font-weight: 500;
  margin: 5px;
  /* overflow: hidden;
  overflow-x: scroll; */
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
  /* line-break: normal; */
  /* border: 3px solid rgb(255, 255, 255); */
  /* border: 3px solid green; */
  
}

.current-track-duration {
  font-size: medium;
  font-weight: 500;
  margin: 5px;
  position: absolute;
  padding-left: 650px;
  /* border: 1px solid rgb(255, 255, 255); */
  /* float: right; */
  /* padding-left: 100px; */
  
}

.track-thumbnail-container {
  position: relative;
}

.track-thumbnail {
  border: 1px solid #ddd;
  background-color: black;
  border-radius: 4px;
  max-width: 70%;
  height: auto;
}

.track-thumbnail-none {
  position: absolute;
  top: 40%;
  left: 20%;
}

.track-thumbnail-show { 
  opacity: 0.0;
}

.bgm-queue {
  list-style-type:decimal-leading-zero;
  font-size: small;
  margin: auto;
}

.bgm-results {
  font-style:italic;
  margin: auto;
  padding-left: 100px;
}

.bgm-list {
  list-style-type: none;
}

/* .track-seek {
  width: 3;
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */
